.instruction__row {
  width: 100%;
  padding: 2em;
  background-color: white;
  display: flex;
  gap: 2em;
}

.instruction__box {
  width: 100%;
  padding: 2em;
  background-color: white;
  height: 300px;
  border-radius: 7px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.image__box {
  width: 100%;
  height: 60%;
  border-radius: 4px;
  background-color: rgb(8, 8, 83);
  overflow: none;
}

.image__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  .instruction__row {
    flex-direction: column;
  }
}
